body {
	margin: 0px;
	background-color: black;
	background-image: url('map.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background-position: center; */
}

#content { width: 100%; text-align: center; position: absolute; top: 10%; bottom: 200px; }
#content input {
	line-height: 2em;
	border: 0px solid #000000;
	box-shadow: inset 0px 0px 2px #000000;
	outline: none;
	color: #000000;
	-webkit-transition: background-color 500ms;
	text-align: center;
}
::-webkit-input-placeholder { color: #111111; text-align: center; -webkit-transition: color 500ms; }
:-moz-placeholder { color: #111111; text-align: center; opacity: 1; -webkit-transition: color 500ms; }
::-moz-placeholder { color: #111111; text-align: center; opacity: 1; -webkit-transition: color 500ms; }
:-ms-input-placeholder { color: #111111; -webkit-transition: color 500ms; }
#email {
	width: 20em;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius:
	5px; margin-bottom: 10px;
}
#email:focus { background-color: #FFFFFF; -webkit-transition: background-color 500ms; }
#email:focus::-webkit-input-placeholder { color: #FFFFFF; -webkit-transition: color 500ms; }
#email:focus:-moz-placeholder { color: #FFFFFF; -webkit-transition: color 500ms; }
#email:focus::-moz-placeholder { background-color: #FFFFFF; -webkit-transition: color 500ms; }
#email:focus:-ms-input-placeholder { background-color: #FFFFFF; -webkit-transition: color 500ms; }

#submit { background-color: #AAAAAA; border-top-right-radius: 5px; border-bottom-right-radius: 5px; margin-bottom: 10px; margin-left: -10px;padding-left: 10px; padding-right: 10px;}
#submit:focus { background-color: #22FF22; -webkit-transition: background-color 500ms; }
#header {
	text-transform: uppercase;
	font-family: 'Plak Black Extra Condensed', sans-serif;
	color: #FFFFFF;
	margin-bottom: 10px;
	font-size: 6em;
	letter-spacing: 5px;
	line-height:1em;
	display: inline-block;
	-webkit-text-shadow:0px 0px 15px #222222; /* for chrome */
	-text-shadow:0px 0px 15px #222222; /* for all browser*/
	text-shadow:0px 0px 15px #222222; /* same as above*/
	-moz-text-shadow:0px 0px 15px #222222; /* for firefox */
	-o-text-shadow:0px 0px 15px #222222; /* for opera */
	-ms-text-shadow:0px 0px 15px #222222; /* for ie 9+ */
	-khtml-text-shadow:0px 0px 15px #222222; /* for gecko based browser*/
}

#oneliner {
	font-family: 'Lato', sans-serif;
	color: #97b4ca;
	font-size: 1.3em;
	margin-bottom: 10px;
	-webkit-text-shadow:0px 0px 15px #DDDDDD; /* for chrome */
	-text-shadow:0px 0px 15px #DDDDDD; /* for all browser*/
	text-shadow:0px 0px 15px #DDDDDD; /* same as above*/
	-moz-text-shadow:0px 0px 15px #DDDDDD; /* for firefox */
	-o-text-shadow:0px 0px 15px #DDDDDD; /* for opera */
	-ms-text-shadow:0px 0px 15px #DDDDDD; /* for ie 9+ */
	-khtml-text-shadow:0px 0px 15px #DDDDDD; /* for gecko based browser*/
}

.social-media {
	color: #FFFFFF;
	text-decoration: none;
	font-family: "socialicoregular";
	font-size: 30px;
	margin-left: 10px;
	margin-right: 10px;
	/*
	border-radius: 10px;
	border-color: white;
	padding: 5px;
	background-color: black;
	letter-spacing: 5px;
	*/
	-webkit-text-shadow:0px 0px 15px #000000; /* for chrome */
	-text-shadow:0px 0px 15px #000000; /* for all browser*/
	text-shadow:0px 1px 1px #000000; /* same as above*/
	-moz-text-shadow:0px 0px 15px #000000; /* for firefox */
	-o-text-shadow:0px 0px 15px #000000; /* for opera */
	-ms-text-shadow:0px 0px 15px #000000; /* for ie 9+ */
	-khtml-text-shadow:0px 0px 15px #000000; /* for gecko based browser*/
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
	transition: all ease 0.7s;
}

.social-media:hover {
	color: #AAAAAA;
	-webkit-transition: all ease 0.7s;
	-moz-transition: all ease 0.7s;
	-o-transition: all ease 0.7s;
	-ms-transition: all ease 0.7s;
	transition: all ease 0.7s;
}